.header {
    text-align: center;
    padding-bottom:15px ;
}

.title-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
}

.title-text:visited{
    text-decoration: none;
    color: black;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

.navbar-top ul {
    max-width: 40rem;
    margin: auto;
    padding: 0;
    list-style: none;
    border-radius: 0.2rem;
    display: flex;
    justify-content: space-between;
}


.navbar-top a {
    text-decoration: none;
    color: #222;
    text-align: center;
    padding: 0.5rem 1rem;
    display: block;
    border-radius: 20px;
}

.navbar-top a:hover {
    background-color: gray;
}

.login-title {
    position: absolute;
    top: 25%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 48%;
    background-color: gray;
}

.login-title-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.login-forms{
    position:absolute;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 47.5%;
    align-items: flex-end;
}

.text-username-form{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.text-password-form{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

input[type=text] {
    width: 120%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}